<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/">Java Beans</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="color: rgba(198,41,41,0.5);"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">Strona główna</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/order">Zamów</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/order/check-order">Sprawdź zamówienie</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Kontakt</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/login">Zaloguj</a></li>
            </ul>
        </div>
    </div>
</nav>