<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Zmień hasło</title>

    <link th:replace="fragments/back-styles">
</head>

<body id="page-top">
<nav th:replace="fragments/back-navigation"></nav>
<main class="page">
    <section class="clean-block clean-form dark h-100">
        <div class="container cextra">
            <form th:action="@{/accounts/change-password}" method="post" th:object="${passProperties}">
                <h3 class="text-center text-dark mb-4">Zmiana hasła</h3>
                <p class="alert-info" th:text="${msg}"></p>
                <div class="form-group">
                    <p class="alert-danger" th:if="${#fields.hasErrors('oldPass')}" th:errors="*{oldPass}"></p>
                    <label>Obecne hasło:</label>
                    <input class="form-control" type="password" th:field="*{oldPass}">
                </div>
                <div class="form-group">
                    <p class="alert-danger" th:if="${#fields.hasErrors('${passProperties}')}" th:errors="${passProperties}"></p>
                    <p class="alert-danger" th:if="${#fields.hasErrors('newPass1')}" th:errors="*{newPass1}"></p>
                    <label>Nowe hasło:</label>
                    <input class="form-control" type="password" th:field="*{newPass1}">
                </div>
                <div class="form-group">
                    <p class="alert-danger" th:if="${#fields.hasErrors('newPass2')}" th:errors="*{newPass2}"></p>
                    <label>Powtórz hasło:</label>
                    <input class="form-control" type="password" th:field="*{newPass2}">
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Zapisz</button>
                </div>
                <a href="#" onclick="window.history.back();">Powrót</a>
            </form>
        </div>
    </section>
</main>
<script th:replace="fragments/back-general-scripts"></script>
</body>

</html>