<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Akceptacja zamówienia</title>
    <link th:replace="fragments/front-styles">
</head>

<body>
    <nav th:replace="fragments/front-navigation"></nav>
    <main class="page">
        <section class="clean-block clean-form dark">
            <div class="container cextra text-center" >
                <h3>Twoje zmówienie zostało zaakceptowane.</h3>
            </div>
        </section>
    </main>

    <script th:replace="fragments/front-general-scripts.html"></script>
</body>

</html>